body {
	max-width: 800px ;
	margin: auto ;
	color:#002626;
	background: url(mural1.png);
	background-color:hsl(204, 44%, 65%);
}

/* unvisited link */
a:link {
    color: #4A234A;
}

/* visited link */
a:visited {
    color: #213F21;
}

/* mouse over link */
a:hover {
    color: #213F88;
}

/* selected link */
a:active {
    color: #5D2E87;
}

/* The following was written by yourdevilfriends.art - thank you */
uppercase,yell {
	text-transform: uppercase;
}